body{
    margin: auto;
    background-color: rgb(211, 211, 211);
}
.header{
    height: 120px;
    background-image: linear-gradient(0,#f63c29,#ff5a2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
}
.header__navbar-item-link{
    color: white;
    text-decoration: none;
}

.header__navbar-icon{
    color: white;
    margin-left: -5px;
}
.header__navbar-icon + .header__navbar-icon{
    margin: 0 5px;
}
.header__navbar-item,.header__navbar-nohover,.header__navbar-noopacity,.a{
    display: inline-block;
    font-size: 15px;
    color: white;
    margin: 0 8px;
    position: relative;
}
.header__navbar-item:hover,.header__navbar-icon:hover,.a:hover{
    opacity: 0.8;
    cursor: pointer;
}
.header__navbar-item--qr:hover .header__qrcode{
    display: block;
}
.header__navbar-item--bold{
    font-weight: bold;
}
.grid{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}
.navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 1px;
    background-color:#f9827a;
    top: -10px;
    margin-left: -5px;
}
.header__qrcode{
    background-color: white;
    width: 186px;
    padding: 10px;
    position: absolute;
    top: 150%;
    border-radius: 2px;
    display: none;
    will-change: fadein;
    animation: fadein ease-in 0.3s;
}
.header__qrcode::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qrcode-img{
    width: 100%;
}
.header__qrcode-apps{
    display: flex;
    justify-content: space-between;
}
.header__qrcode-downloads{
    height: 16px;
    margin: 0 12px;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header__thongbao{
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: white;
    border: 1px solid #b3b3b3;
    transform-origin: 90% top ;
    will-change: growth;
    animation: growth ease-in 0.25s;
    display: none;
}
.header__thongbao::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}
.header__thongbao::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}
.header__navbar-noopacity:hover .header__thongbao{
    display: block;
}
@keyframes growth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
h3{
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.2rem;
    line-height: 40px;
}
.header__thongbao-header{
    background-color: white;
    cursor: default;
}
.header__thongbao-list{
    padding-left: 0;
    list-style: none;
}
.header__thongbao-item:hover{
    cursor: pointer;
}
.header__thongbao-link{
    display: flex;
    padding: 12px;
    background-color: rgb(165, 163, 163);
}
.header__thongbao-link:hover{
    background-color: rgb(201, 200, 200);

}
.header__thongbao-img{
    width: 48px;
    height: 48px;
}
.header__thongbao-info{
    margin-left: 10px;
}
.header__thongbao-name{
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}
.header__thongbao-mota{
    color: rgb(100, 100, 100);
    margin-top: 0;
}
.header__thongbao-footer{
    display: flex;
}
.header__thongbao-footer--btn{
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: bold;
    padding: 8px 16px;
    margin: auto;
}